@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Karla&display=swap');

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Variables
// Breakpoints
$grid-breakpoints: (
  xs: 0,
  xxsm: 390px,
  xsm: 440px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);

// Colors
$--accent-color-teal: rgb(112, 242, 229);
$--accent-color-green: rgb(84, 238, 84);
$--accent-color-yellow: rgb(221, 221, 44);
$--accent-color-purple: rgb(178, 49, 230);
$--accent-color-red: rgb(245, 75, 95);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", "Open Sans", "Raleway", sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #050816;
  color: white;
  height: 2000px;
}

.root {
  will-change: transform;
}

main {
}